Illustrating datatypes conversions.

In [1]:
#string to int conversion

print(int("Edd",16)) #0xEDD | 0XEDD will also give same result in base.

print(int("777",8))  #0o777 | 0O777 will also give same result in base.

print(int("10110",2))  #0b10110 | 0B10110 will also give same result in base.

#A normal string can't be converted to Integer using these functions. Will through error as ValueError.

3805
511
22

In [2]:
#floating point conversion

print(float(46))  #int to float only

print(float(0xA01)) #can convert string with prefix of binary(0b/B), Octal(0o/O) or Hex(0x/X).

#Only one string/int value can be converted at a time. Multiple argument using "," can't be passed; Posses TypeError

46.0
2561.0

In [3]:
#complex number

print(complex(46))

print(complex(46+3*2j))

#complex number can't be converted to int or float. By default the value of imaginary part is 0.

(46+0j)
(46+6j)

In [4]:
#String conversion

print("Before Conversion type : ",type(46))
print("After Conversion type : ",type(str(46)))

print("\nBefore Conversion type : ",type(46.232))
print("After Conversion type : ",type(str(46.232)))

print("\nBefore Conversion type : ",type(46+232j))
print("After Conversion type : ",type(str(46+232j)))

print("\nBefore Conversion type : ",type(0b101))
print("After Conversion type : ",type(str(0b101)))

print("\nBefore Conversion type : ",type(0o46232))
print("After Conversion type : ",type(str(0o46232)))

print("\nBefore Conversion type : ",type(0xABC))
print("After Conversion type : ",type(str(0xABC)))

Before Conversion type :  <class 'int'>
After Conversion type :  <class 'str'>

Before Conversion type :  <class 'float'>
After Conversion type :  <class 'str'>

Before Conversion type :  <class 'complex'>
After Conversion type :  <class 'str'>

Before Conversion type :  <class 'int'>
After Conversion type :  <class 'str'>

Before Conversion type :  <class 'int'>
After Conversion type :  <class 'str'>

Before Conversion type :  <class 'int'>
After Conversion type :  <class 'str'>

In [5]:
#Expression String (repr)
import datetime 
today = datetime.datetime.now() 
  
# Prints readable format for date-time object 
print (str(today)) 
  
# prints the official format of date-time object 
print (repr(today))

2020-01-10 07:37:16.595745
datetime.datetime(2020, 1, 10, 7, 37, 16, 595745)

In [6]:
#eval() evaluation of string
#it only evaluates the expression of the string & doesn't accept string as a collection of characters.

print(type(eval("(2+3j)+(5+7j)")))  #The type of the eval output depends upon the type of the string expression.

eval("46*232")

<class 'complex'>

10672

In [7]:
#tuple -> () : collection of hetrogenous datatypes in a single 'kind of array' concept datatype & is immutable.
#creating empty tuple : T=()
T = (1,2,3,4,5,6.46,"Harsh",3+7j)
print(type(T))
print(T)

<class 'tuple'>
(1, 2, 3, 4, 5, 6.46, 'Harsh', (3+7j))

In [8]:
#List -> [] : collection of hetrogenous datatypes in a single 'kind of array' concept datatype & is mutable.
#create empty list : L=[]

L=[1,2,3,4.6,"Harsh",46+232j]
print(type(L))
print(L) #printing list without modification

L.append("List can be modified, Tuple can't. once tuple values are given can't be appended in future.")
print(L) #printing list after modification

<class 'list'>
[1, 2, 3, 4.6, 'Harsh', (46+232j)]
[1, 2, 3, 4.6, 'Harsh', (46+232j), "List can be modified, Tuple can't. once tuple values are given can't be appended in future."]

In [9]:
#Set -> {} : collection of hetrogenous datatypes in a single 'kind of array' concept datatype. it is mutable.
#also a dictionary either with key or values but not both at same time.
#set can't be empty, empty set is considered as empty dictionary by default.
S1={} #empty set, compiler consider it as a dictionary.
print(type(S1))
print()

#method 1 for set declaration
S={1,2,3,4.6,"Harsh",2+32j}
print(type(S))
print(S,"\n")

#method 2 for set declaration
S2=set([1,2,3,"Hasrh",2+32j,"Collab"])
print(type(S2))
print(S2)

<class 'dict'>

<class 'set'>
{1, 2, 3, 4.6, (2+32j), 'Harsh'}

<class 'set'>
{1, 2, 3, (2+32j), 'Hasrh', 'Collab'}

In [10]:
#Dictionary -> {key:value, key2:value2, ... , keyN:valueN} : collection of hetrogenous datatypes in a single 'kind of array' concept datatype. it is mutable.
#Dictionary have 2 components a)Key, b)value.
D = {}
print(type(D),"\n")

D1= {1:"Harsh",2:"Shubham",3:"Aarav",4:"Sharav"}
print(D1)
print(type(D1),"\n")

D2= {"A":46,"B":232,"C":3014,"D":1502}
print(D2)
print(type(D2))

<class 'dict'>

{1: 'Harsh', 2: 'Shubham', 3: 'Aarav', 4: 'Sharav'}
<class 'dict'>

{'A': 46, 'B': 232, 'C': 3014, 'D': 1502}
<class 'dict'>

In [11]:
#Tuple conversion
A=[46,232,3014,1502]  #list to tuple
print(type(A))
print(type(tuple(A)),A,"\n")

B={46,232,3014,1502}  #set to tuple
print(type(B))
print(type(tuple(B)),B,"\n")

C={1:46,2:232,3:3014,4:1502}  #dict ot tuple
print(type(C))
print(type(tuple(C)),C)

<class 'list'>
<class 'tuple'> [46, 232, 3014, 1502]

<class 'set'>
<class 'tuple'> {232, 1502, 3014, 46}

<class 'dict'>
<class 'tuple'> {1: 46, 2: 232, 3: 3014, 4: 1502}

In [12]:
#List conversion
A=(46,232,3014,1502)  #tuple
print(type(A))
print(type(list(A)),A,"\n")

B={46,232,3014,1502}  #set
print(type(B))
print(type(list(B)),B,"\n")

C={1:46,2:232,3:3014,4:1502}  #dict
print(type(C))
print(type(list(C)),C)

<class 'tuple'>
<class 'list'> (46, 232, 3014, 1502)

<class 'set'>
<class 'list'> {232, 1502, 3014, 46}

<class 'dict'>
<class 'list'> {1: 46, 2: 232, 3: 3014, 4: 1502}

In [13]:
#set conversion
A=[46,232,3014,1502]  #list
print(type(A))
print(type(set(A)),A,"\n")

B=(46,232,3014,1502)  #tuple
print(type(B))
print(type(set(B)),B,"\n")

C={1:46,2:232,3:3014,4:1502}  #dict
print(type(C))
print(type(set(C)),C)

<class 'list'>
<class 'set'> [46, 232, 3014, 1502]

<class 'tuple'>
<class 'set'> (46, 232, 3014, 1502)

<class 'dict'>
<class 'set'> {1: 46, 2: 232, 3: 3014, 4: 1502}

In [14]:
#Dictionary conversion
#this will throw error as dictionary datatype requires key & it's value, here not specified.
'''C=(46,232,3014,1502)  #tuple
print(type(C))
A=dict(C)
print(type(C))'''

#method 1: using native method
C1 = [{1:'46',2:'232'},{3:'3014',4:'1502'}]
print("C1 is : ",type(C1),C1)

for dicts in C1: 
    for values in dicts: 
        dicts[values] = int(dicts[values]) 

print("After Conversion C1 is : ",C1)

C1 is :  <class 'list'> [{1: '46', 2: '232'}, {3: '3014', 4: '1502'}]
After Conversion C1 is :  [{1: 46, 2: 232}, {3: 3014, 4: 1502}]

In [15]:
#Frozen set : an immutable set mainly used for assigning fixed set values for dict[[key],val] or to prepare a fixed set.
S={46,232,3014,1502}
T=(46,232,3014,1502)
L=[46,232,3014,1502]
D={1:46,2:232,3:3014,4:1502}
print(type(S),S)
print(type(frozenset(S)),S)
print(type(T),T)
print(type(frozenset(T)),T)
print(type(L),L)
print(type(frozenset(L)),L)
print(type(D),D)
print(type(frozenset(D)),D)

<class 'set'> {232, 1502, 3014, 46}
<class 'frozenset'> {232, 1502, 3014, 46}
<class 'tuple'> (46, 232, 3014, 1502)
<class 'frozenset'> (46, 232, 3014, 1502)
<class 'list'> [46, 232, 3014, 1502]
<class 'frozenset'> [46, 232, 3014, 1502]
<class 'dict'> {1: 46, 2: 232, 3: 3014, 4: 1502}
<class 'frozenset'> {1: 46, 2: 232, 3: 3014, 4: 1502}

In [16]:
#chr conversion : ASCII value -> chr
A = 98
B= chr(A)
print(type(A),"Int equivalent : ",A)
print(type(B),"Chr equivalent : ",B)

<class 'int'> Int equivalent :  98
<class 'str'> Chr equivalent :  b

In [17]:
#ord converison : converts chr -> ASCII value
A = "S"
print(type(A),"Chr equivalent : ",A)
print(type(ord(A)),"ASCII Equivalent : ",ord(A))

<class 'str'> Chr equivalent :  S
<class 'int'> ASCII Equivalent :  83

In [18]:
#hex conversion : int -> hex string
A = 4623230141502
print(type(A),"Int equivalent : ",A)
print(type(hex(A)),"Hex Equivalent : ",hex(A))

<class 'int'> Int equivalent :  4623230141502
<class 'str'> Hex Equivalent :  0x4346dfd843e