Demonstration of basic math functions related to number.

In [0]:
import math

In [2]:
#abs() : returns the positive distance b/w '0' & "X"
A= -46
B= -232.3014
C= 15-2j  #in case of complex it return the magnitue

print(abs(A),"\n",abs(B),"\n",abs(C))

46
 232.3014
 15.132745950421556

In [3]:
#ceil() : celling value function return smallest value of x i.e., not less than x
A = 3014.1502
print(math.ceil(A))

3015

In [4]:
#exp() : to find the exponont of value. Only int & float
A = 46
B = 232.1502
print(math.exp(A))
print(math.exp(B))

9.496119420602448e+19
6.630569517575975e+100

In [5]:
#expm1() : to find the exponont-1 value. Only int & float. 
print(math.expm1(2))

6.38905609893065

In [6]:
#fabs() : returns absolute value. Only int & float.
A = -46
B = 232.1502

print(math.fabs(A))
print(math.fabs(B))

46.0
232.1502

In [7]:
#floor() : returns floor value. Only int & float.
A = -46.232
B = 46.232
C = -1502
print(math.floor(A))
print(math.floor(B))
print(math.floor(C))

-47
46
-1502

In [8]:
#log() : returns log value. with base "e".
print(math.log(math.exp(1)))

1.0

In [9]:
#log10() : returns log value with base 10.
print(math.log10(10))

1.0

In [10]:
#log1p() : returns log value of "x+1" with base 'e'.
print(math.log1p(1))

0.6931471805599453

In [11]:
#log2() : returns log value with base 2.
print(math.log2(2))

1.0

In [12]:
#max() : max in the sequence is returned.
print(max(10,15,46,232))

232

In [13]:
#min() : min in the sequence is returned.
print(min(10,15,46,232))

10

In [14]:
#modf() : returns the fractional & integer part of value.
print(math.modf(1502.3014))

(0.30140000000005784, 1502.0)

In [15]:
#pow(x,y,z) : return x**y%z.(IN MATH.POW()) only 2 args, i.e., x&y returns x**y
print(math.pow(2,3))  #with math module only 2 args can be passed.
print(pow(2,3,4))  #no math module needed.

8.0
0

In [16]:
#round(x,n) : value of x is rounded to n digits.
n=1
print(round(232.1502,2))
print(round(46.232,-(n)))

232.15
50.0

In [17]:
#sqrt() : returns square root.
print(math.sqrt(4))
print(math.sqrt(46.232))

2.0
6.799411739260978