In [0]:
A program in python to demonstrate basic data type

In [1]:
i=46
f=46.232
s="This is a string!"
b=True
l=[1,2,3]
d={1,2,3}
t=(1,2,3)

print(type(i))
print(type(f))
print(type(s))
print(type(b))
print(type(l))
print(type(d))
print(type(t))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'set'>
<class 'tuple'>