<a href="https://colab.research.google.com/github/hsinha177/python_syllabus/blob/master/P5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to print sum of all primes under 2 million

In [1]:
# number to find summation of all primes below number
max_Range = 2000000

# create a set excluding even numbers
numbers = set(range(3, max_Range + 1, 2)) 

for number in range(3, int(max_Range ** 0.5) + 1):
    if number not in numbers:
        #number must have been removed because it has a prime factor
        continue

    num = number
    while num < max_Range:
        num += number
        if num in numbers:
            # Remove multiples of prime found
            numbers.remove(num)

print (2 + sum(numbers))

142913828922